 *{
      padding:0;
      margin:0;
list-style:none;
      }
      :root{
      --primary-color:#002f6c;
      
  --secondary-color:;
      --light-color:#f3f3f3;
      --menu-speed:0.75s;
  --dark-color:#333;
      }
      body{
      font-family: "Times New Roman", Times, serif;
      height:100vh;
      background:var(--light-color);
      line-height:1.5;
      letter-spacing:3px;

/*overflow:hidden;*/
      }
      .container{
      max-width:960px;
      margin:auto;
      overflow:hiidden;
      padding:0 0rem;
      }
      a{
      text-decoration:none;
color:white;
      }
p,h2{
margin:1rem;
}
      /*Utility classes*/
      .btn{
      display:inline-block;
      background:var(--primary-color);
      color:white;
      margin-top:1rem;
      padding:1rem 1.5rem;
      
border-radius:5px;
font-size:1.5rem;
margin:2rem;
      }
      .btn:hover{
      opacity:skyblue;
      }
      
.text-primary{
color:skyblue;
}

.large-text{
font-size:3.5rem;
padding:2rem 0;
}
      /*Navbar*/
  #navbar{
  position:fixed;
  top:0;
  left:0;
right:0;
  z-index:5;
  background:var(--primary-color);
  color:white;
  text-align:center;
  padding:1rem 0;
display:grid;
grid-template-columns:3fr 4fr;
justify-content:center;
  }
#navbar h1{
padding:0.5rem;
font-size:2rem;

}
#navbar ul{
display:flex;
justify-content:center;
}
#navbar ul li{
padding:1rem;
}
#navbar ul li a{
padding:1rem;
}
#navbar ul li a:hover,
#navbar ul li a.current
{
background:skyblue;
border-radius:5px;
}

.toggler{
display:none;
}

/*Showcase*/
#showcase{
text-align:center;
background:url("./img/showcase.jpg") no-repeat center center/cover;
width:100%;
height:100vh;
display:grid;
grid-template-columns:1fr;
color:white;
}



#showcase p{
color:white;
font-size:2.5rem;
}

/*Why*/
#why{
background:white;
margin:4rem;
padding:1rem;
font-size:1.5rem;
}
#why-1{
background:var(--dark-color);
color:white;
text-align:center;
padding:1rem;
font-size:1rem;
}

#why-1 .container{
display:grid;
grid-template-columns:1fr 1fr;
justify-content:center;
}
#why-1 .container div{
padding:1rem;
margin:1rem;
}
/*Designs*/
#designs h2{
font-size:2rem;
font-style:underline;
text-align:center;
}

#designs{
display:grid;
grid-template-rows:1fr;
grid-gap:3rem;
padding:5.5rem 0;
}


#designs .int-designs{
background:white;
padding:1rem 0;
}
#designs .int-designs img{
width:100%;
padding:2rem 0;
}

#designs .int-designs h3{
font-size:1.5rem;
padding:1rem;
}

/*Services*/
#service{
background:var(--light-color);
text-align:center;
color:black;
padding:1rem;
margin:2rem;
}

#service .container{
display:grid;
grid-template-columns:1fr 1fr 1fr;
grid-gap:2rem;
font-size:1.2rem;
}
 #service .large-text{
padding:2rem 0;
}
#service .int-service{
background:white;
}
/*About*/
#about{
background:var(--light-color);
color:black;
text-align:center;
margin-top:4.5rem;
}

#about .int-about{
background:white;
padding:2rem;
font-size:1.2rem;
}

#about .testimonials .testimonial{
background:white;
display:grid;
grid-template-columns:1fr 3fr;
grid-gap:0rem;
padding:1rem 2rem;
margin:2rem 0;
font-size:1rem;
}

#about .testimonials .testimonial img{
border-radius:50%;
width:50%;
}

/*Contact*/

#contact{
background:var(--dark-color);
color:white;
margin-top:4.5rem;
}
#contact #form {
backgroubd:var(--dark-color);
color:white;
}
#contact #form .form-group{
display:grid;
grid-template-columns:1fr;
padding:1rem;
font-size:1.5rem;
}
#contact #form .form-group input,
#contact #form .form-group textarea
{
padding:0.5rem 1rem;
font-size:1.5rem;
width:50%;
height:2rem;
}
#contact #form .form-group textarea
{
height:5rem;
}
#contact #form .form-group .sub{
background:var(--primary-color);
height:3rem;
color:white;
}
#footer #int-contact{
border:1px solid white;
border-left:none;
border-right:none;
display:grid;
grid-template-columns:repeat(3,300px);
justify-content:center;
}

#footer{
background:var(--primary-color);
color:white;
font-size:1.5rem;
text-align:center;
}